name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy stack with Docker Compose
        run: |
          cd "$GITHUB_WORKSPACE"

          docker volume create postgres_data || true
          docker volume create prometheus_data || true
          docker volume create grafana_data || true

          docker-compose pull || true
          docker-compose up -d --build || true
